@charset "utf-8";

:root {
  --color-grey: #777;
  --color-moss-green: #a1ca19;
  --color-off-white: rgb(255, 245, 228);
  --color-dark-blue: rgb(0, 0, 95);
  --color-yellow: rgb(188, 188, 71);
  --color-a: rgb(144, 87, 144);
  --color-b: rgb(50, 50, 91);
  --color-c: rgb(179, 130, 77);

  --font-size-header: 32px;
  --font-size-ABC: 40px;
  --font-size-huge: 32px;
  --font-size-large: 24px;
  --font-size-normal: 20px;
  --font-size-small: 18px;
  /* --font-size-tiny: 16px; */
}


/* common */
* {
  box-sizing: border-box;
  color: #111;
}
html {
  height: 0;
  background: #333;
  background-image: url(img/tex6.png);
  background-attachment: fixed;
  height: 100%;
}
body {
  /* background: var(--color-grey); */
  width: 80%;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
}

p,
h1,
h2,
h3 {
  margin: 0;
  /* padding: 0; */
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
}

img {
  vertical-align: bottom;
}

/* hilight */
span.red-dot {
  color: var(--color-a);
}
span.blue-dot {
  color: var(--color-b);
}
span.green-dot {
  color: var(--color-c);
}

/* header */
/*
header {
  font-size: var(--font-size-header);
  width: 75%;

  margin: 0 auto;
  transition: width .5s ease-in-out, transform .5s ease-in-out;
  user-select: none;
}*/

/*
h1 {
  font-size: var(--font-size-huge);
  padding: 8px 32px 0;
  letter-spacing: 2px;
  text-align: center;
} */

/* header */
header {
  background: #555;
  padding: var(--font-size-header) 0;
  font-family: 'Economica';
  font-size: var(--font-size-header);
  width: 100%;

  margin: 0 auto;
  padding: var(--font-size-huge) 0;
  user-select: none;
  transition: width .5s ease-in-out, transform .5s ease-in-out;

}
header.slide {
  width: calc(75vw * .9);
  transform: translateX(calc(-1 * (50vw - 75vw / 2)));
}
header div {
  width: fit-content;
  margin: 0 auto;
  background: linear-gradient(
    to right,
    var(--color-a) 33%,
    var(--color-b) 33% 66%,
    var(--color-c) 66% 100%
  );
}
h1 {
  background-image: url(img/tex1.png);
  background-size: cover;

  font-size: var(--font-size-header);
  color: #222;  
  letter-spacing: var(--font-size-normal);
  line-height: 1.5em;
  padding-left: var(--font-size-normal);
  font-weight: bold;
}

/* main */
main {
  background: #555;
  /* margin-top: 32px; */
  /* height: calc(100vh - var(--font-size-header) * (2 + 1.5)); */
  height: auto;
  width: 100%;
  margin: 0 auto;
  transition: width .5s ease-in-out, transform .5s ease-in-out;
}
main.slide {
  width: calc(75vw * .9);
  transform: translateX(calc(-1 * (50vw - 75vw / 2)));
}

/* section */
section.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* div (q-wrapper) */
/* div.q-wrapper {
} */

div.heading {

  padding-left: 16px;
  border-radius: 3px;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  align-items: center;

  user-select: none;
}

div.heading>h2 {
  font-family: 'Economica';
  font-size: var(--font-size-huge);
  color: #111;
  display: flex;
  align-items: center;
  gap: .5em;
}

div.counter {
  display: flex;
  padding-right: 16px;
  height: 100%;
  align-items: center;
  /* width: 10em; */
  flex: 1;
}

div.counter>p {
  font-size: var(--font-size-large);
  color: #111;
}

div.counter>p:first-child {
  margin-left: auto;
  text-align: right;
  font-size: var(--font-size-small);
}

span.num {
  color: var(--color-yellow);
  font-family: 'Economica';
  color: #111;
  /* font-family: 'Times New Roman'; */
  font-size: var(--font-size-huge);
  /* font-weight: bold; */
}

div.counter span.num {
  display: inline-block;
  width: 3em;
  font-size: 1em;
  text-align: right;
  line-height: 32px;
}

div.counter span.num.count-up {
  animation: countUp 1.6s;
}

/* 問題文 */
div.q-sentence-container {
  height: 4em;
  margin-top: 32px;
}
h3.q-sentence {
  font-size: var(--font-size-normal);
  line-height: 1.5em;
  height: auto;
}
/* h3.q-sentence.ruby-on {
  line-height: calc(var(--font-size-normal) * 1.5);
} */


/* div (choices) */
div.choices {
  margin-top: 32px;
}

div.choices>ul {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 90%;
  margin: 0 auto;
}

div.choices>ul>li {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 100%;
  font-size: var(--font-size-normal);
  height: 4em;
}

div.choices>ul>li>p {
  flex: 3;
  font-size: var(--font-size-normal);
  text-align: center;
  padding: 0 8px;
  line-height: 1.5em;
  height: auto;
  font-weight: bold;
}
/* span.coordinate-checker {
  font-size: 10px;
  opacity: 0;
} */



div.choices>ul>li>span {
  text-align: center;
  flex: 1;
  border-right: none;
  line-height: 2em;
  font-size: 40px;
  font-family: "Times New Roman";
  font-weight: bold;
}
.first {
  background: var(--color-a);
  background-image: url(img/tex3.png);
  background-size: cover;
  border-radius: 4px;
  transition: box-shadow 0.8s;
}
.first>span {
  text-shadow: 0 0 16px #aaa;
  color: #111;
}

.second {
  background: rgb(67, 67, 112);
  background-image: url(img/tex4.png);
  background-size: cover;
  border-radius: 4px;
  transition: box-shadow 0.8s;
}
.second>span {
  text-shadow: 0 0 16px #aaa;
  color: #111;
}
.third {
  background: var(--color-c);
  background-image: url(img/tex5.png);
  background-size: cover;
  border-radius: 4px;
  transition: box-shadow 0.8s;
}
.third>span {
  text-shadow: 0 0 16px #aaa;
  color: #111;
}
.first:hover {
  box-shadow: 0 0 16px 0px #aaa;
}
.second:hover {
  box-shadow: 0 0 16px 0px #aaa;
}
.third:hover {
  box-shadow: 0 0 16px 0px #aaa;
}

/* li.answered, li.choiced */
.answered {
  background: #555;
  pointer-events: none;
}

.choiced {
  box-shadow: 0 0 16px 0px #333;
  transition: box-shadow 1s;
}

li.answered span {
  opacity: 0.3;
}

/* div.separater */
div.separater {
  margin-top: 8px;
  font-size: var(--font-size-huge);
  font-family: "Times New Roman";
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

div.separater::before,
div.separater::after {
  content: '';
  width: calc((100% - 3em) / 2);
  height: 1.8px;
  background: var(--color-dark-blue);
}

div.separater::before {
  background: linear-gradient(to left,
      #111 50%,
      #555 95%);
}

div.separater::after {
  background: linear-gradient(to right,
      #111 50%,
      #555 95%);
}


/* div (answer-wrapper) */
div.answer-wrapper {
  background: #555;
  pointer-events: none;
  position: relative;
  width: 90%;
  margin: 8px auto;
  /* margin: 8px auto calc(16px + 40px + 32px); */
  /* (btn-wrapperの下のマージン + btn-wrapperのheight + 正味付けたい余白) */
  /* padding-bottom: calc(16px + 40px + 32px); */
  padding-bottom: 200px;
  height: 0;
  opacity: 0;
}

div.answer-wrapper>p {
  text-align: center;
  font-size: var(--font-size-normal);
  font-weight: bold;
}

div.answer-wrapper>h3 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: "Times New Roman";
  border-radius: 4px;
  margin: 16px 0;
}

h3.a-is-correct {
  background: var(--color-a);
  background-image: url(img/tex3.png);
  background-size: cover;
  color: #111;
}

h3.b-is-correct {
  background: rgb(67, 67, 112);
  background-image: url(img/tex4.png);
  background-size: cover;
  color: #111;
}

h3.c-is-correct {
  background: var(--color-c);
  background-image: url(img/tex5.png);
  background-size: cover;
  color: #111;
}

/* .show .erase .reveal .fast-reveal*/
div.answer-wrapper.show {
  height: fit-content;
  opacity: 1;
  pointer-events: visible;
}
div.comment {
  font-size: small;
}

div.answer-wrapper>div.comment>p.erase,
/* セレクタの詳細度の問題でこれも必要？ */
.erase {
  opacity: 0;
  font-size: var(--font-size-small)
}

.mask {
  height: 100%;
  background: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

div.mask.reveal {
  transition: top 1.5s 1.1s, height 1.5s 1.1s;
  transition-timing-function: ease-in-out;
  top: 100%;
  /* 親要素の100%の高さ分ずらせていそう（？）*/
  height: 0;
}

div.mask.fast-reveal {
  opacity: 0;
  height: 0;
}



/* img */
img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: scale(0, 0);
  transition: transform .5s;
  position: absolute;
  top: 50px;
  left: calc(12.5% - 50px);
  pointer-events: none;
}

/* div (btn-wrapper) */
div#btn-wrapper {
  font-family: 'Economica';
  position: fixed;
  bottom: 16px;
  left: calc((100% - 80%) / 2 + (80% - 80% * .9) / 2);
  width: calc(80% * .9);
  /* background: var(--color-dark-blue); */
  color: #111;
  border-radius: 6px;
  padding: 8px 16px;
  display: flex;
  user-select: none;
  font-size: var(--font-size-normal);

  transition: width .5s ease-in-out, left .5s ease-in-out;
}
div#btn-wrapper.slide {
  width: calc(75vw * .9);
  left: calc((75vw - 75vw * .9) / 2);

}
div#btn-wrapper>a {
  cursor: pointer;
}

#btn-home {
  margin-right: auto;
}

#btn-prev,
#btn-next {
  width: 6.5em;
}

#btn-prev {
  text-align: left;
}

#btn-next {
  text-align: right;
}

#btn-prev.disabled,
#btn-next.disabled {
  opacity: 0.4;
  pointer-events: none;
}



button#btn-setting-icon {
  overflow-y: hidden;
  position: fixed;
  top: 8px;
  right: 8px;
  background-color: rgba(0 0 0 / 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;

  cursor: pointer;
  transition: background-color 1s, transform .5s .15s;

  z-index: 3;
}
button#btn-setting-icon.clicked {
  transform: translateX(calc(100vw * -0.25 + 74px));
  /* animation: fade-out-in 2s; */

}
button#btn-setting-icon:hover {
  background-color: rgba(0 0 0 / 0);
}
span.material-symbols-outlined {
  font-size: var(--font-size-huge);
  display: block;
  width: 50px;
  text-align: center;
  line-height: 50px;
}
span.open {
/* https://kouhekikyozou.com/css_text_gradation#１－２%EF%BC%8E背景を文字の形に切り取る */
  background: linear-gradient(
    to right,
    var(--color-a) 42%,
    var(--color-b) 42% 58%,
    var(--color-c) 58% 100%
  );
  /* background: -webkit-linear-gradient(
    to right,
    darkred 35%,
    darkblue 35% 65%,
    darkgreen 65% 100%
  ); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  pointer-events: visible;
  opacity: 1;
}
span.close {
  pointer-events: visible;
  opacity: 1;
}
span.open.clicked {
  animation: fade-in 1.2s;
}
span.close.clicked {
  animation: fade-in 1.2s;
}
section.setting-wrapper {
  background: #aaa;
  height: 100vh;
  width: 25%;
  margin-left: auto;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);

  transition: transform .5s ease-in-out;
}
section.setting-wrapper.slide {
  transform: translateX(0);
}
ul.menus {
  margin-top: 80px;
  font-size: var(--font-size-small);
}
li.menu + li {
  margin-top: 16px;
}
li.menu fieldset {
  border: none;
  overflow-y: hidden;
}
li.menu legend {
  width: 100%;
  text-align: right;
  position: relative;
  padding: 4px 0;
  cursor: pointer
  /* z-index: 1; */
}
li.menu legend::before {
  content: '+';
  position: absolute;
  top: 1.5px;
  left: 16px;
  transition: transform .3s;
  font-weight: bold;
}
li.menu.appear legend::before {
  transform: rotate(45deg);
}
div.kana-radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}
div.label-container {
  overflow-y: hidden;
}
li.menu div.label-container label {
  transform: translateY(-100%);
  transition: transform .3s;
}
li.menu.appear div.label-container label {
  transform: translateY(0);
}
input.radio {
  display: none;
}
label:has(input[type=radio]) {
  padding: 4px 0;
  flex:1;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
label:first-child {
  border-radius: 5px 0 0 5px;
}
label:last-child {
  border-radius: 0 5px 5px 0;
}
label:not(:has(input:checked)) {
  background: #777;
}
label:has(input:checked) {
  background: darkblue;

}



@keyframes countUp {
  25% {
    font-size: 1.2em;
    color: var(--color-yellow);
  }

  75% {
    font-size: 1.2em;
    color: var(--color-yellow);
  }

  100% {
    font-size: 1em;
    color: #777;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    pointer-events: visible;
  }
}


@media(max-width: 1024px) {

  header>h1 {
    font-size: 30px;
  }
  main {
    /* margin-top: 16px; */
  }
  div.heading>h2 {
    font-size: 18px;
  }

  h3.q-sentence {
    margin-top: 16px;
    font-size: 18px;
  }
  div.counter>p {
    font-size: 20px;
  }
  div.counter span.num {
    line-height: 28px;
  }

  div.choices ul {
    flex-direction: column;
    gap: 16px;
  }
  div.choices>ul>li {
    font-size: 18px;
  }
  div.choices>ul>li>span {
    font-size: 36px;
  }


  div.choices {
    margin-top: 16px;
  }

  div.answer-wrapper>p {
    font-size: 18px;
  }
  div.answer-wrapper>h3 {
    font-size: 36px;
    margin: 8px 0;
  }

div#btn-wrapper {
  font-size: 18px;
}

}

@media(max-width: 599px) {
  header>h1 {
    font-size: 28px;
  }


  div.heading>h2 {
    font-size: 16px;
  }

  h3.q-sentence {
    margin-top: 8px;
    font-size: 16px;
  }
  div.counter>p {
    font-size: 18px;
  }
  div.counter>p:first-child {
    font-size: 16px
  }
  div.counter span.num {
    line-height: 28px;
  }

  div.choices ul {
    flex-direction: column;
    gap: 8px;
  }
  div.choices>ul>li {
    font-size: 16px;
  }
  div.choices>ul>li>span {
    font-size: 30px;
  }


  div.choices {
    margin-top: 8px;
  }

  div.separater span {
    font-size: 24px
  }
  div.separater::before,
  div.separater::after {
    height: 1px;
  }

  div.answer-wrapper>p {
    font-size: 16px;
  }
  div.answer-wrapper>h3 {
    font-size: 30px;
    margin: 4px 0;
  }
  div#btn-wrapper {
    font-size: 16px;
    bottom: 8px;
    width: 95%;
    left: calc((100% - 95%) / 2);
  }
  #btn-prev {
    width: fit-content;
    padding-right: 1em;
  }
}
/* @media(max-width: 400px) {
  div.comment {
    font-size: 12px;
  }
} */
@media(max-width: 399px) {
  :root {
    --font-size-header: 20px;
    --font-size-nav: 40px;
    --font-size-large: 14px;
    --font-size-normal: 14px;
    --font-size-small: 12px;
    --large-gap: 12px;
    --small-gap: 4px;
  }
  body {
    width: 90%;
  }
  h2 span.num {
    font-size: 20px;
  }

  div.choices>ul>li>span {
    font-size: 20px;
  }
  div.answer-wrapper>h3 {
    font-size: 20px;
  }
  div#btn-wrapper {
    font-size: 10.5px;
    width: 80%;
    left: 10%;
    
  }
  button#btn-setting-icon {
    transform: scale(0.7, 0.7);
  }
  /* button#btn-setting-icon.clicked {
    transform: scale(0.7, 0.7);
  } */
}